.about {
    width: 100%;
    background-color: rgb(31, 40, 51);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    &-wrapper {
        padding-bottom: 40px!important;
        @include WrapperSizing;
        display: flex;
        flex-wrap: wrap;
        @include MediumDevice {
            flex-direction: column;
        }
    }
    &-header {
        $color: rgb(102, 252, 241);
        $border: 1px solid rgb(220, 222, 214);
        $shadow: 0 0 1px rgba(86, 97, 102, .5);
        $align: right;
        $variants: ($color, $border, $shadow, $align);
        @include Header ($variants);
        @include MediumDevice {
            order: 1;
        }
    }
    &-portrait {
        width: 35%;
        display: flex;
        position: relative;
        z-index: 2;
        @include MediumDevice {
            order: 2;
            width: 100%;
        }
        &-circle {
            width: 280px;
            height: 280px;
            position: relative;
            overflow: hidden;
            margin: 60px auto auto auto;
            border-radius: 50%;
            border: 5px solid rgb(242, 243, 238);
            @include MediumDevice {
                width: 150px;
                height: 150px;
                margin: auto auto 8vmin;
            }
        }
        img {
            width: 135%;
            position: absolute;
            left: -10%;
            top: 0;
            display: block;
        }
    }
    &-content {
        max-width: calc(65% - 50px);
        margin-right: 50px;
        transition: all .5s ease;
        padding-bottom: 15px;
        @include MediumDevice {
            order: 3;
            width: 100%;
            max-width: 100%;
            margin-right: 0;
        }
        h3 {
            font-size: 40px;
            @include MediumDevice {
                font-size: 35px;
            }
            @include SmallDevice {
                font-size: 25px;
            }
            color: rgb(69, 162, 158);
            margin-bottom: 25px;
        }
        p {
            font-size: 18px;
            color: rgb(197, 198, 199);
            @media(max-width: 980px) {
                font-size: 16px;
            }
            @include SmallDevice {
                font-size: 14px;
            }
            text-align: left;
            margin-bottom: 25px;
            position: relative;
            z-index: 2;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-read_more {
            width: 100%;
            box-sizing: border-box;
            display: block;
            padding: 10px 20px;
            color: #fff;
            background-color: rgb(31, 40, 51);
            border-top: 1px solid #dcded6;
            border-bottom: none;
            border-left: none;
            border-right: none;
            position: relative;
            z-index: 2;
            img {
                display: block;
                width: 22px;
                height: 22px;
                margin: 10px auto;
                transition: transform .2s ease-in;
            }
            @include MediumDevice {
                order: 4;
            }
            &:hover {
                cursor: pointer;
            }
            &.active {
                img {
                    transition: transform .2s ease;
                    transform: rotate(180deg);
                }
            }
        }
    }
    .off {
        max-height: 400px;
        @include BigDevice {
            max-height: 544px;
        }
        overflow: hidden;
        transition: all .5s ease;
    }
    .on {
        max-height: 2000px;
        transition: all .5s ease-in-out;
    }
}