.footer {
    width: 100%;
    color: #fff;
    background-color: #000;
    padding: 15px 5px;
    font-size: 15px;
    display: flex;
    span {
        max-width: 1100px;
        padding: 4vmin;
        margin: auto 0 auto auto;
    }
    img {
        height: 20px;
        margin: auto 5px auto 3px;
        ;
        padding-bottom: 2px;
    }
    @include MediumDevice {
        span {
            margin: auto;
        }
    }
    @include SmallDevice {
        padding: 5vmin 0;
        span {
            padding: 2vmin;
            display: block;
            text-align: center;
        }
        img {
            height: 20px;
            margin: auto 3px auto 1px;
            ;
        }
    }
}