.footer {
    width: 100%;
    color: #fff;
    background-color: #000;
    display: flex;
    span {
        font-size: 14px;
        max-width: $content-width;
        padding: 20px;
        margin: auto 0 auto auto;
    }
    img {
        height: 20px;
        margin: auto 5px auto 3px;
        ;
        padding-bottom: 2px;
    }
    @include MediumDevice {
        span {
            font-size: 12px;
            padding: 15px;
            margin: auto;
        }
    }
    @include SmallDevice {
        span {
            padding: 12px;
            display: block;
            text-align: center;
        }
        img {
            height: 20px;
            margin: auto 3px auto 1px;
        }
    }
}