// Fonts
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Rambla');
// Styles
html {
    box-sizing: border-box;
}

body {
    height: 100%;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.main {
    background-color: rgb(31, 40, 51);
}

button {
    &:focus {
        outline: 0;
    }
}
