.main-img {
    width: 100%;
    position: relative;
    overflow: hidden;
    &-wrapper {
        width: 100%;
        max-width: $content-width;
        margin: auto;
        height: 100%;
        position: relative;
        z-index: 2;
        pointer-events: none;
    }
    &-text {
        @include BigDevice {
            padding: 80px 50px 40px;
        }
        padding: 8vmin 8vmin 2vmin;
        @include SmallDevice {
            padding: 8vmin 4vmin 1vmin;
        }
        z-index: 3;
        h1 {
            vertical-align: bottom;
            color: rgb(58, 58, 58);
            font-size: 45px;
            font-family: 'Cormorant Garamond', serif;
            line-height: 55px;
            @include SmallDevice {
                font-size: 26px;
                line-height: 32px;
            }
        }
    }
    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    img {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        @include MediumDevice {
            top: 0;
        }
        top: -40%;
        @include BigDevice {
            top: -65%;
        }
        @include VeryBigDevice {
            top: -85%;
        }
        
        bottom: 0;
        display: block;
    }
}
