.heading-title {
    padding: 80px 20px 0;
    margin: auto;
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-wrap: wrap;
    h2 {
        $color: #fff;
        $border: 1px solid #fff;
        $shadow: 0 0 3px rgba(255, 255, 255, .3);
        $align: center;
        $variants: ( $color, $border, $shadow, $align);
        @include Header ($variants);
    }
    span {
        width: 100%;
    }
    p {
        letter-spacing: 1px;
        margin-bottom: 0;
    }
}
