.main-img {
    width: 100%;
    position: relative;
    padding: 2vmin;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
    &-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        border: 1px solid rgba(204, 153, 33, 0.7);
    }
    &-text {
        @include BigDevice {
            padding: 25vmin 10vmin 4vmin;
        }
        padding: 20vmin 10vmin 2vmin;
        @include SmallDevice {
            padding: 18vmin 10vmin 1vmin;
        }
        z-index: 3;
        h1 {
            vertical-align: bottom;
            color: #333;
            font-size: 4.7vmin;
            font-family: 'Cormorant Garamond', serif;
            line-height: 1.3;
        }
        .ghandi {
            @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
            line-height: 4;
            font-family: 'Playfair Display', serif;
            color: rgba(92, 92, 92, 0.9);
            font-size: 3.6vmin;
        }
    }
}