// MIXINS
@mixin BigDevice {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin MediumDevice {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin SmallDevice {
    @media(max-width: 480px) {
        @content;
    }
}

// HEADER STYLES
@mixin Header ($variants) {
    width: 100%;
    position: relative;
    z-index: 2;
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-size: 6vmin;
    margin-bottom: 80px;
    color: nth($variants, 1);
    text-shadow: nth($variants, 3);
    text-align: nth($variants, 4);
    span {
        display: inline-block;
        min-width: 50%;
        border-top: nth($variants, 2);
        border-bottom: nth($variants, 2);
    }
}

// WRAPPER
@mixin WrapperSizing {
    padding: 25vmin 8vmin;
    box-sizing: content-box;
    margin: auto;
    max-width: 1100px;
}

@mixin listNumbersColors {
    &> :nth-child(1) {
        &> :nth-child(1) {
            background-color: rgb(214, 168, 62);
        }
    }
    &> :nth-child(2) {
        &>:nth-child(1) {
            background-color: rgb(199, 83, 58);
        }
    }
    &>:nth-child(3) {
        &>:nth-child(1) {
            background-color: rgb(119, 45, 31);
        }
    }
    &>:nth-child(4) {
        &>:nth-child(1) {
            background-color: rgb(90, 105, 72);
        }
    }
    &>:nth-child(5) {
        &>:nth-child(1) {
            background-color: rgb(63, 76, 75)
        }
    }
}

@mixin iconsStyling {
    &> :nth-child(2) {
        &>:nth-child(1) {
            border-color: rgb(105, 161, 213);
            img {
                background-color: transparent;
            }
        }
    }
    &> :nth-child(3) {
        &>:nth-child(1) {
            border-color: rgb( 255, 255, 255);
            background-color: rgb( 255, 255, 255);
            img {
                background-color: rgb(255, 255, 255)
            }
        }
    }
    &> :nth-child(4) {
        &>:nth-child(1) {
            border-color: rgb( 235, 200, 189);
            background-color: rgb( 235, 200, 189);
            img {
                background-color: rgb(231, 234, 235)
            }
        }
    }
    &> :nth-child(5) {
        &>:nth-child(1) {
            border-color: rgb(172, 217, 170);
            background-color: rgb(172, 217, 170);
            img {
                background-color: transparent;
            }
        }
    }
    &> :nth-child(6) {
        &> :nth-child(1) {
            border-color: rgb(131, 148, 155);
            img {
                background-color: rgb(115, 129, 135)
            }
        }
    }
    &> :nth-child(7) {
        &>:nth-child(1) {
            border-color: rgb(209, 88, 98);
            background-color: rgb(209, 88, 98);
            img {
                background-color: rgb(209, 88, 98)
            }
        }
    }
    &> :nth-child(8) {
        &>:nth-child(1) {
            border-color: rgb(239, 200, 147);
            background-color: rgb(239, 200, 147);
            img {
                background-color: rgb(235, 216, 150)
            }
        }
    }
    &> :nth-child(9) {
        &>:nth-child(1) {
            border-color: rgb(124, 92, 130);
            background-color: rgb(124, 92, 130);
            img {
                background-color: rgb(173, 135, 180);
            }
        }
    }
    &> :nth-child(10) {
        &>:nth-child(1) {
            border-color: rgb(103, 159, 211);
            background-color: rgb(103, 159, 211);
            img {
                background-color: rgb(103, 159, 211);
            }
        }
    }
    &> :nth-child(11) {
        &>:nth-child(1) {
            border-color: rgb(99, 186, 106);
            background-color: rgb(99, 186, 106);
            img {
                background-color: rgba(242, 243, 238, 1);
            }
        }
    }
}