.navbar- {
    &-container {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: black;
        z-index: 9999;
        @include MediumDevice {
            width: 85%;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10001;
            padding: 20px;
            transform: rotateX(90deg);
            transition: transform 0.4s ease-in-out;
        }
        @include SmallDevice {
            width: 100%;
            transform: rotateX(0deg);
            flex-direction: column;
            position: absolute;
            top: 10px;
            left: -100%;
            transition: left 0.6s ease-in-out;
            width: 80%;
        }
        &.off-top {
            opacity: 0.88;
        }
    }
    max-width: $content-width;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: black;
    padding-right: 12px;

    .nav--link {
        font-size: 14px;
        font-family: 'Rambla';
        border: none;
        background-color: black;
        outline: none;
        text-transform: lowercase;
        color: #ccc;
        cursor: pointer;
        padding: 15px 8px;
        &:nth-child(n):not(:last-child) {
            border-right: 0;
        }
        &:hover {
            text-decoration: underline;
        }
        @include MediumDevice {
            font-size: 10px;
        }
        @include SmallDevice {
            font-size: 14px;
            text-align: left;
            padding: 10px 20px;
            border: 1px solid rgba(69, 162, 158, 0.8);
            color: rgba(69, 162, 158, 0.8);
            background-color: rgba(50, 55, 63, 1);
            &:nth-child(n):not(:last-child) {
                border-bottom: 0;
                border-right: 1px solid rgba(69, 162, 158, 0.8);
            }
        }
    }
}

// ************* CUBES *************
.nav-cube {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 21px;
    transition: all .4s ease;
    @include MediumDevice {
        display: block;
        right: -5%;
        top: 20px;
    }
    @media (max-width: 825px) {
        top: 19px;
    }
    right: -10%;
    z-index: 100;
    background-color: rgba(50, 55, 63, 1);
    cursor: pointer;
    border: 1px solid rgba(69, 162, 158, 0.8);
    @media (max-width: 690px) {
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
    }
    &:hover {
        background-color: rgb(18, 30, 54);
        transition: all .4s ease;
    }
    &.on {
        span {
            background-color: transparent;
            &:before {
                transform: rotate(45deg) translate(6px, 6px);
            }
            &:after {
                transform: rotate(-45deg) translate(5px, -6px);
            }
        }
        &~.navbar- {
            transition: transform .4s ease-in-out;
            transform: rotateX(0deg);
            @media (max-width: 690px) {
                transition: left .6s ease-in-out;
                left: 0;
            }
        }
    }
}

.nav-cube span:after,
.nav-cube span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
}

.nav-cube span:after {
    top: 8px;
}

.nav-cube span {
    position: relative;
    z-index: 1000;
    display: block;
    margin: auto;
    width: 50%;
}

.nav-cube span,
.nav-cube span:after,
.nav-cube span:before {
    height: 3px;
    background-color: rgba(69, 162, 158, 0.8);
    transition: all .4s ease;
    backface-visibility: hidden;
    border-radius: 2px;
}

.nav-cube span:after,
.nav-cube span:before {
    width: 100%;
}
