.obszary {
    $color-tale: rgb(69, 162, 158);
    $color-light-tale: rgb(102, 252, 241);
    width: 100%;
    background-color: #fff;
    position: relative;
    border-bottom: none;
    &-wrapper {
        @include WrapperSizing;
        max-width: 980px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        border-bottom: none;
    }
    &-header {
        $color: rgb(11, 12, 16);
        $border: 1px solid #333;
        $shadow: 0 0 3px rgba(255, 255, 255, 1);
        $align: left;
        $variants: ( $color, $border, $shadow, $align);
        @include Header ($variants);
    }
    // ** Color Buttons **
    &-list {
        width: 35%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        &-item {
            display: flex;
            position: relative;
            z-index: 2;
            list-style: none;
            border-radius: 3px;
            color: rgb(197, 198, 199);
            padding: 10px;
            font-size: 18px;

            img {
                position: absolute;
                transform: rotate(270deg) translateY(-50%);
                width: 20px;
                height: 20px;
                left: -5px;
                top: calc(50% - 10px);
                pointer-events: none;
                display: none;
            }
            @include MediumDevice {
                font-size: 14px;
                padding: 15px;
                padding-right: 22px;
                img {
                    width: 18px;
                    height: 18px;
                    top: calc(50% - 9px);
                    right: -6px;
                }
            }
            @include SmallDevice {
                font-size: 12px;
                padding: 10px;
                padding-right: 18px;
                img {
                    width: 12px;
                    height: 12px;
                    top: calc(50% - 6px);
                    right: -2px;
                }
            }
            @media (max-width: 420px) {
                font-size: 9px;
            }
            &:hover {
                cursor: pointer;
                z-index: 3;
                color: #1e4861;
            }
            &.on,
            &:first-child {
                color: #1e4861;
                img {
                    display: block;
                }
            }
            &.off {
                color: rgba(#1e4861, 0.7);
                img {
                    display: none;
                }
            }
        }
    }
    &-content {
        max-width: calc(65% - 100px);
        margin-left: 100px;
        @include MediumDevice {
            margin-left: 2vmin;
            max-width: calc(65% - 2vmin);
        }
        display: flex;
        overflow: scroll;
        height: 500px;
        &-description {
            font-family: 'Lato';
            margin: 0 0 auto;
            position: relative;
            z-index: 2;
            h3 {
                font-size: 30px;
                @include MediumDevice {
                    font-size: 25px;
                }
                @include SmallDevice {
                    font-size: 18px;
                }
                margin-bottom: 25px;
                color: #1e4861;
            }
            p,
            li {
                text-shadow: 0 0 1px rgba(255, 255, 255, 1);
                text-align: justify;
                text-justify: inter-word;
                font-size: 18px;
                @include MediumDevice {
                    font-size: 16px;
                }
                @include SmallDevice {
                    font-size: 14px;
                }
            }
            li {
                text-align: left;
                list-style-type: none;
                position: relative;
                &:before {
                    content: '◆';
                    color: #1e4861;
                    position: absolute;
                    left: -25px;
                }
            }
        }
        &-img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: calc(65% - 20px);
            height: 100%;
            z-index: 1;
            opacity: .11;
        }
    }
}
