.obszary {
    width: 100%;
    background-color: #fff;
    position: relative;
    &-wrapper {
        @include WrapperSizing;
        display: flex;
        flex-wrap: wrap;
        @include MediumDevice {
            padding-bottom: 0;
        }
        @include SmallDevice {
            padding-bottom: 8vmin;
        }
    }
    &-header {
        $color: rgb(11, 12, 16);
        $border: 2px solid #333;
        $shadow: 0 0 3px rgba(255, 255, 255, 1);
        $align: left;
        $variants: ( $color, $border, $shadow, $align);
        @include Header ($variants);
    }
    // ** Color Buttons **
    &-list {
        width: 35%;
        height: 400px;
        @include listNumbersColors;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        &-item {
            display: flex;
            flex: 1;
            position: relative;
            z-index: 2;
            list-style: none;
            background-color: rgb(46, 44, 44);
            color: rgb(197, 198, 199);
            margin-bottom: 3px;
            &:hover {
                cursor: pointer;
                background-color: rgb(77, 84, 102);
                z-index: 3;
            }
            &-number {
                box-sizing: border-box;
                height: 100%;
                padding: 20px;
                color: #fff;
                font-size: 1.6vmin;
                display: flex;
                @include MediumDevice {
                    padding: 0 10px;
                    font-size: 16px;
                }
                @include SmallDevice {
                    padding: 0 5px;
                    font-size: 14px;
                }
                @media (max-width: 420px) {
                    font-size: 12px;
                }
                &>span {
                    text-align: center;
                    width: 20px;
                    margin: auto;
                }
            }
            &-obszar {
                display: flex;
                padding-left: 20px;
                font-size: 1.4vmin;
                height: 100%;
                p {
                    margin: auto 0;
                }
                @include MediumDevice {
                    padding: 0 10px;
                    font-size: 14px;
                }
                @include SmallDevice {
                    font-size: 12px;
                }
                @media (max-width: 420px) {
                    font-size: 9px;
                }
            }
        }
    }
    &-content {
        max-width: calc(65% - 60px);
        margin-left: 60px;
        @include MediumDevice {
            margin-left: 2vmin;
            max-width: calc(65% - 2vmin);
        }
        display: flex;
        overflow: scroll;
        height: 500px;
        &-description {
            margin: 0 0 auto;
            position: relative;
            z-index: 2;
            h3 {
                font-size: 30px;
                @include MediumDevice {
                    font-size: 25px;
                }
                @include SmallDevice {
                    font-size: 18px;
                }
                margin-bottom: 25px;
                color: rgb(69, 162, 158);
            }
            p,
            li {
                text-shadow: 0 0 1px rgba(255, 255, 255, 1);
                text-align: left;
                text-justify: inter-word;
                font-size: 18px;
                @include MediumDevice {
                    font-size: 16px;
                }
                @include SmallDevice {
                    font-size: 14px;
                }
            }
        }
        &-img {
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: calc(65% - 20px);
            height: 100%;
            z-index: 1;
            opacity: .11;
        }
    }
}