.zakres {
    width: 100%;
    background-color: rgba(242, 243, 238, 1);
    &-wrapper {
        @include WrapperSizing;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include iconsStyling;
        &> :nth-child(even) {
            padding-right: 60px;
        }
    }
    &-header {
        $color: rgb(85, 85, 84);
        $border: 2px solid rgb(85, 85, 84);
        $shadow: 0 0 3px rgba(255, 255, 255, 1);
        $align: left;
        $variants: ($color, $border, $shadow, $align);
        @include Header ($variants);
    }
    &-item {
        width: 50%;
        display: flex;
        margin-bottom: 60px;
        &-img {
            display: block;
            border-radius: 50%;
            border: 7px solid;
            padding: 7px;
            max-height: 108px;
            img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
                margin: 0;
            }
        }
        &-description {
            margin: auto 0 auto 35px;
            display: block;
            color: rgb(122, 122, 122);
            font-family: 'Cormorant Garamond', serif;
            font-weight: bold;
            font-style: italic;
            font-size: 22px;
        }
    }
}