.zakres {
    width: 100%;
    background-color: #fff;
    border-top: none;
    &-wrapper {
        @include WrapperSizing;
        display: flex;
        border-top: none;
        flex-wrap: wrap;
        position: relative;
    }
    &-header {
        $color: rgb(11, 12, 16);
        $border: 1px solid rgb(85, 85, 84);
        $shadow: 0 0 3px rgba(255, 255, 255, 1);
        $align: right;
        $variants: ($color, $border, $shadow, $align);
        @include Header ($variants);
    }
    &-item {
        width: 50%;
        display: flex;
        margin-bottom: 40px;
        position: relative;
        @media(max-width: 775px) {
            width: 100%;
            padding: 20px;
            margin-bottom: 0;
        }
        @media(max-width: 500px) {
            padding: 12px 0;
        }
        &> :nth-child(even) {
            padding-right: 2vw;
            @media(max-width: 775px) {
                padding-right: 0;
            }
        }
        &-img {
            margin: auto 0;
            display: block;
            padding: 7px;
            img {
                width: 50px;
                height: 50px;
                margin: 0;
                @media(max-width: 775px) {
                    width: 40px;
                    height: 40px;
                }
            }
            @media(max-width: 500px) {
                padding-left: 0;
            }
        }
        &-description {
            margin: auto 3vmin auto 2vmin;
            @media(max-width: 775px) {
                margin: auto 0 auto 15px;
            }
            display: block;
            color: #252523;
            font-size: 18px;
            line-height: 25px;
            @include SmallDevice {
                font-size: 16px;
                line-height: 22px;
            }
        }
        &-svg {
            position: absolute;
            top: 68%;
            transform: translate(0, -50%);
            left: -11px;
            @include MediumDevice {
                display: none;
            }
        }
        &-path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
        }
        @keyframes dash {
            from {
                stroke-dashoffset: 1000;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        &:hover {
            .zakres-item-path {
                animation: dash 3s linear alternate 1;
            }
        }
    }
}