.zakres {
    width: 100%;
    margin-top: -1px;
    background-color: #fff;
    border-top: none;
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        background: url('../assets/images/wave-gray.svg');
        background-size: 100% 100%;
        opacity: 0.09;
        top: 0;
        left: 0;
        bottom: -33%;
        right: -13%;
        position: absolute;
        transform: rotate(23deg);
    }
    &-wrapper {
        @include WrapperSizing;
        max-width: 900px;
        display: flex;
        border-top: none;
        flex-wrap: wrap;
        position: relative;
    }
    &-header {
        $color: rgb(11, 12, 16);
        $border: 1px solid rgb(85, 85, 84);
        $shadow: 0 0 3px rgba(255, 255, 255, 1);
        $align: right;
        $variants: ($color, $border, $shadow, $align);
        @include Header ($variants);
    }
    &-item {
        width: calc(100% / 3.8);
        display: flex;
        flex-direction: column;
        margin: 0 auto 80px;
        position: relative;
        @media(max-width: 775px) {
            width: 100%;
            padding: 20px;
            margin-bottom: 60px;
        }
        @media(max-width: 500px) {
            padding: 12px 0;
            margin-bottom: 40px;
        }

        &-img {
            margin: 0 auto;
            display: block;
            padding: 7px;
            img {
                width: 120px;
                height: 120px;
                margin: 0;
                @media(max-width: 775px) {
                    width: 100px;
                    height: 100px;
                }
            }
            @media(max-width: 500px) {
                padding-left: 0;
            }
        }
        &-description {
            font-family: 'Lato';
            text-align: center;
            margin: 40px auto 0;
            color: #163649;
            @media(max-width: 775px) {
                margin: 25px auto 0;
            }
            
            display: block;
            font-size: 18px;
            line-height: 25px;
            @include SmallDevice {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}
